button {
    background-color: green;
    font-size: 56px;
    padding: 60px 90px;
    color: black;
    width: 200px;
    height: 80px;
}

.count {
    font-size: 130px;
    padding: 15px 30px;
}

.name {
    font-size: 70px;
    padding: 15px 30px;
}

.reset {
    background-color: rgb(191, 188, 207);
    width: 280px;
}

body {
    padding: 105px 200px;
}