button {
    background-color: green;
    font-size: 46px;
    padding: 50px 80px;
    color: black;
    width: 200px;
    height: 80px;
}

.count {
    font-size: 130px;
    padding: 15px 30px;
    color: white;
}

.name {
    font-size: 70px;
    padding: 15px 30px;
    color: white
}

.reset {
    background-color: rgb(191, 188, 207);
    width: 220px;    
    font-size: 30px;
    color: black
}

body {
    padding: 105px 200px;
    background-color: black;
}